<div class="store-header">
    <div class="brand">
        <h1>⚡ Loja Genérica</h1>
        <span class="brand-tag">Informática</span>
    </div>
    <div class="container-menu">
        <nav class="barra-nav">
            <ul>
                <li>
                    <a routerLink="home"><i class="fa-solid fa-house"></i>Home</a>
                </li>
                <li>
                    <a routerLink="produtos">
                        <i class="fa-solid fa-store"></i>
                        Produtos
                    </a>
                </li>
                <li>
                    <a routerLink="carrinho">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                        Carrinho
                    </a>
                </li>
                <li>
                    <a routerLink="contato"><i class="fa-solid fa-phone"></i>Contato</a>
                </li>
                <li><a href="https://github.com/gabrielvnm"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/gabriel-nasulicz/"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </nav>
    </div>
    <app-botao-login></app-botao-login>
</div>